.page {
    height: 100vh;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center
}

@import './todo';
@import './components/todo-list';
@import './components/button';
@import './components/input';